.card__like {
    text-decoration: none;
    width: 22px;
    height: 22px;
    background: transparent;
    border: 0;  
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-position: center;
}


.card__like:hover {
    opacity: 0.6;
}

.card__like_active {
    opacity: 1;
background: url(https://code.s3.yandex.net/web-code/dom/heart-filled.svg) center no-repeat;
}